* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #272727;
    border-radius:50%;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(145, 233, 233);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
}

.container h1 {
    padding: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 90%;
    margin: 0 auto;
}

.pokemon-list {
    list-style-type: none;
    height: calc(100% - 60px);
    overflow: auto;
    padding: 0 10px;
}

.pokemon-list li {
    width: 90%;
    margin: 10px auto;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 4px rgba(0,0,0,0.5);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    background-color: #272727;
    color: #ff652f;
    height: 10%;
    overflow: hidden;
}

.pokemon-list li button {
    padding: 10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
}

.pokemon-list li p {
    padding-left: 10px;
}

.pokemon-list li button:focus {
    outline: none;
  }


/* Styling the MODAL */

#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999; 
    overflow: auto; 
    display: grid;
    text-align: center;
}
 
.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
    text-transform: capitalize;
}

.modal h1 {
    margin-top: 0;
}
  
.modal > p {
    margin-bottom: 0;
    font-size: 23px;
}

.modal > img {
    display: block;
    margin: 0 auto;
}

.modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
    cursor: pointer;
}
