* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(145, 233, 233);
}

.pokemon-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 100%;
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
}

.pokemon-list li {
    border-bottom: 1px solid black;
    height: 20vh;
    background-color: #fff;
    color: rgb(34, 33, 33);
    font-size: 32px;
}

.pokemon-list li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pokemon-list li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: none;
}

@media all and (max-width: 550px) {
    .pokemon-list li {
        font-size: 22px;
    }
}
