* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(145, 233, 233);
}

.pokemon-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 100%;
    list-style-type: none;
    margin: 0 auto;
}

.pokemon-list li {
    height: 20vh;
    background-color: rgb(245, 240, 240);
    color: rgb(34, 33, 33);
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 5px 5px 4px rgba(0,0,0,0.5);
}

}

}

@media all and (max-width: 550px) {
    .pokemon-list li {
        font-size: 22px;
    }
}
